.header {
  width: 100vw;
  height: 250px;
  background-size: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
}

.header .nav {
  position: absolute;
  top: 20px;
  left: 10px;
}

.header .nav ul {
  display: block;
}

.header .icon p.title {
  font-size: 18px !important;
}

.concept__title {
  width: 100%;
  display: block;
}

.concept__title h1 {
  width: 80%;
  margin: 0 auto;
}

.concept__inner {
  width: 80%;
}

.concept__inner p {
  font-size: 13px;
  width: 100%;
}

.concept__inner__details {
  display: block;
}

.concept__inner__details__text {
  margin-left: 0;
  margin-top: 20px;
}

.concept__inner__details__text__name p {
  font-size: 27px;
  line-height: 1.5rem;
}

.concept__inner__details__text__name p span.en-name {
  font-size: 16px;
}

.concept__inner__details__text ul.inline {
  font-size: 15px;
}

.products__title {
  width: 100%;
  display: block;
}

.products__title h1 {
  width: 80%;
  margin: 0 auto;
}

.products__main {
  width: 80%;
  display: block;
}

.products__main__detail {
  width: 100%;
  margin-bottom: 20px;
}

.nav-bottom {
  display: none;
}

.footer__inner {
  width: 80%;
}
