.header {
  background-size: cover;
  height: 800px;
  position: relative;
  border-bottom-left-radius: 2000px 200px;
  border-bottom-right-radius: 2000px 200px;
}

.header .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

.header .icon a {
  display: flex;
  text-decoration: none;
  color: white;
  font-family: 'Lexend Tera', sans-serif;
}

.header .icon a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header .icon a i {
  color: white;
  margin-right: 10px;
}

.header .icon a p.title {
  font-size: 50px;
  font-family: 'Lexend Tera', sans-serif;
}

.header .icon a p.sub-title {
  font-size: 13px;
  text-align: center;
}

.header .nav {
  position: absolute;
  top: 50px;
  right: 10px;
  font-family: 'Lexend Tera', sans-serif;
}

.header .nav ul {
  display: flex;
}

.header .nav ul li {
  margin-right: 30px;
}

.header .nav ul li a {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
}

.header .nav ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: white;
  transform: scale(0, 1);
  transition: 0.4s;
}

.header .nav ul li a:hover:before {
  transform: scale(1);
}

.concept {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 30px;
}

.concept__title {
  display: flex;
  justify-content: space-between;
  width: 780px;
  margin: 0 auto;
  font-family: 'Lexend Tera', sans-serif;
}

.concept__title h1 {
  font-size: 30px;
}

.concept__title a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 29px;
}

.concept__title a span {
  margin-left: 10px;
}

.concept__title a:hover {
  background-color: green;
  color: white;
}

.concept__inner {
  width: 780px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: 'Lexend Tera', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.concept__inner__details {
  display: flex;
  margin-top: 30px;
}

.concept__inner__details__img {
  width: 300px;
  margin: 0 auto;
  margin-left: 0;
}

.concept__inner__details__img img {
  max-width: 100%;
}

.concept__inner__details__text {
  margin-left: 30px;
}

.concept__inner__details__text__name {
  margin-bottom: 10px;
}

.concept__inner__details__text__name p {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3rem;
}

.concept__inner__details__text__name p span.en-name {
  font-size: 14px;
}

.concept__inner__details__text__contact ul:nth-of-type(3) {
  margin-top: 17px;
  margin-bottom: 2px;
}

.concept__inner__details__text__contact ul:nth-of-type(4) {
  margin-bottom: 2px;
}

.concept__inner__details__text__contact ul.inline {
  list-style: none;
  padding-left: 0;
}

.concept__inner__details__text__contact ul.inline li {
  display: inline;
}

.concept__inner__details__text__contact ul.inline li a {
  text-decoration: none;
  color: black;
}

.concept__inner__details__text__contact ul.inline li a:hover {
  text-decoration: underline;
}

.concept__inner__details__text__contact ul.inline li a.sns {
  margin-left: 0px;
}

.concept__inner__details__text__contact ul.inline li:nth-child(2):before {
  content: "|";
  color: silver;
  margin-right: 13px;
}

.concept__inner__details__text__contact ul.inline li:nth-child(2) {
  font-size: 14px;
}

.concept__inner__details__text__contact i:hover {
  opacity: 0.8;
  cursor: pointer;
  color: blue;
}

.products {
  padding-top: 50px;
  padding-bottom: 50px;
}

.products__title {
  display: flex;
  justify-content: space-between;
  width: 780px;
  margin: 0 auto;
  font-family: 'Lexend Tera', sans-serif;
}

.products__title h1 {
  font-size: 30px;
}

.products__title a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 29px;
}

.products__title a span {
  margin-left: 10px;
}

.products__title a:hover {
  background-color: green;
  color: white;
}

.products__main {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

.products__main a {
  text-decoration: none;
  color: black;
}

.products__main a:hover {
  opacity: 0.6;
}

.products__main__detail {
  width: 45%;
}

.products__main__detail img {
  max-width: 100%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  height: 300px;
  width: 100%;
}

.products__main__detail h3 {
  font-weight: bold;
  font-size: 22px;
}

.products__main__detail p.skill {
  font-size: 14px;
  margin-top: 10px;
}

.products__main__detail__explanation {
  font-size: 14px;
  word-wrap: break-word;
  margin-top: 4px;
  border-top: 1px solid #f2f2f2;
  padding-top: 3px;
}

.sns {
  margin: 20px;
}

.sns__wrapper {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: space-around;
}

.sns__wrapper i:hover {
  opacity: 0.8;
  cursor: pointer;
  color: blue;
}

.nav-bottom {
  background-color: #8fd6e4;
  padding: 30px 0;
}

.nav-bottom__inner {
  width: 400px;
  margin: 0 auto;
  font-family: 'Lexend Tera', sans-serif;
}

.nav-bottom__inner ul {
  display: flex;
}

.nav-bottom__inner ul li {
  margin-right: 30px;
}

.nav-bottom__inner ul li a {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
}

.nav-bottom__inner ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: white;
  transform: scale(0, 1);
  transition: 0.4s;
}

.nav-bottom__inner ul li a:hover:before {
  transform: scale(1);
}

#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 100;
}

#page_top a {
  background-color: #999;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
  font-family: 'Lexend Tera', sans-serif;
}

#page_top a:hover {
  background-color: #666;
  text-decoration: none;
}

.footer {
  background-color: #375961;
  padding: 35px 0;
  height: 100px;
  position: relative;
}

.footer__inner {
  position: absolute;
  top: 36%;
  left: 25%;
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lexend Tera', sans-serif;
}

.footer__inner__icon a {
  text-decoration: none;
  color: white;
}

.footer__inner__icon a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.footer__inner__icon i {
  color: white;
}

.footer__inner__copy-right {
  color: white;
}
