header {
  background-image: url(images/elephant.jpg);
  background-size: cover;
  height: 800px;
  position: relative;
  border-bottom-left-radius: 2000px 200px;
  border-bottom-right-radius: 2000px 200px;
}

header .icon {
  position: absolute;
  top: 28px;
  left: 97px;
}

header .icon i {
  color: white;
  margin-right: 10px;
}

header .icon a {
  display: flex;
  text-decoration: none;
  color: white;
}

header .icon a p.title {
  font-size: 26px;
}

header .icon a p.sub-title {
  font-size: 13px;
  text-align: center;
}

header .nav {
  position: absolute;
  top: 50px;
  right: 10px;
}

header .nav ul {
  display: flex;
}

header .nav ul li {
  margin-right: 30px;
}

header .nav ul li a {
  text-decoration: none;
  color: white;
}

.concept {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.concept__inner {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

.concept__inner h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.concept__inner__text {
  line-height: 1.5rem;
  font-size: 18px;
  margin-bottom: 27px;
}

.concept__inner__title {
  position: relative;
}

.concept__inner__title__inner {
  text-align: center;
  line-height: 1.4rem;
  margin-bottom: 40px;
  margin-top: 40px;
}

.concept__inner__title__inner__mainTitle {
  font-size: 30px;
}

.concept__inner__title__inner__subTitle {
  font-size: 15px;
}

.concept__inner__title p.angle-left {
  position: absolute;
  left: 45px;
  font-size: 30px;
}

.concept__inner__title p.angle-right {
  position: absolute;
  top: 24px;
  right: 42px;
  font-size: 30px;
}

.products {
  padding-top: 50px;
}

.products__title {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

.products__title h1 {
  font-size: 30px;
}

.products__title a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 29px;
}

.products__title a span {
  margin-left: 10px;
}

.products__title a:hover {
  background-color: green;
  color: white;
}

.products__main {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

.products__main a {
  text-decoration: none;
  color: black;
}

.products__main a:hover {
  opacity: 0.6;
}

.products__main__detail {
  width: 23%;
}

.products__main__detail img {
  max-width: 100%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.products__main__detail p {
  font-size: 20px;
}

.news {
  margin-top: 150px;
  padding-top: 70px;
  background-color: #f6f6f6;
}

.news__title {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

.news__title h1 {
  font-size: 30px;
}

.news__title a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 29px;
}

.news__title a span {
  margin-left: 10px;
}

.news__title a:hover {
  background-color: green;
  color: white;
}

.news__details {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.news__details a {
  text-decoration: none;
  color: black;
}

.news__details__link {
  display: flex;
}

.news__details__link img {
  width: 30%;
  width: 45%;
  height: 200px;
  margin-right: 37px;
}

.news__details__link__explanation h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.news__details__link__explanation__date {
  font-size: 10px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.news__details__link__explanation__text {
  font-size: 13px;
  opacity: 0.7;
  line-height: 1.5rem;
}
